<p>RxJS</p>
<div *ngFor=" let i of beginnersCourse" >
  <p></p>
  <table>
    <thead>head</thead>
    <tbody>
    <td>{{i.id}}</td>
    </tbody>
  </table>
</div>

<!--  {{ beginnersCourse | async }}-->
<!--</div>-->
<!--  <h3>All Courses</h3>-->
<!--  <mat-tab-group>-->
<!--    <mat-tab label="Beginners">-->
<!--      <course-card-list [courses]="[]">-->

<!--      </course-card-list>-->
<!--    </mat-tab> <mat-tab label="Beginners">-->
<!--      <course-card-list [courses]="[]">-->

<!--      </course-card-list>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
<!--</div>-->
