<p>RxJS</p>
<p> declarative</p>
<div *ngFor=" let i of beginnersCourse" >
  <table>
    <tbody>
    <td>{{i.id}}</td>
    </tbody>
  </table>
</div>
<div>
  <p> reactive Beginner</p>
  <table>
    <tbody>
    <td>{{beginnersCourse$ | async}}</td>
    </tbody>
  </table>
</div><div>
  <p> reactive Advanced</p>
  <table>
    <tbody>
    <td>{{advanceCourse$ | async}}</td>
    </tbody>
  </table>
</div>

<!--  {{ beginnersCourse | async }}-->
<!--</div>-->
<!--  <h3>All Courses</h3>-->
<!--  <mat-tab-group>-->
<!--    <mat-tab label="Beginners">-->
<!--      <course-card-list [courses]="[]">-->

<!--      </course-card-list>-->
<!--    </mat-tab> <mat-tab label="Beginners">-->
<!--      <course-card-list [courses]="[]">-->

<!--      </course-card-list>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
<!--</div>-->
